/* Credit goes to https://www.w3schools.com/ */

h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    text-align: center;
}
.cm-bar,button {
    font-family: "Montserrat", sans-serif
}
#header {
    font-size:200px
}

/* The Whole File */
html {
    margin: 0;
    padding: 0;
}

/* Top Navigation */
.topnav {
    background-color:  #b3b3ff;
    overflow: hidden;

}
.topnav a:link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #4d4dff;
    color: #ffff80;
}
.topnav a:active {
    background-color: #0000cc;
    color: #ff0000;
}
